body {
  --purple: #BD93F9;
  --purple2: #8D93F9;
  --cyan: #8BE9FD;
  --bg: #282A36;
  --current_line: #44475A;
  --fg: #F8F8F2;
  --comment: #6272A4;
  --green: #50FA7B;
  --orange: #FFB86C;
  --pink: #FF79C6;
  --yellow: #F1FA8C;
  font-family: FiraCode Nerd Font Mono, sans-serif;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(8px) brightness(0.5);
  z-index: 0;
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.random_quote {
    position: absolute;
    margin-top: 590px;
    background: none;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: 4px;
    padding-bottom: 4px;
    height: 5%;
}

.random_quote h3 {
    color: var(--pink);
    background: var(--bg);
    font-size: 20px;
}

.random_quote h2 {
    font-size: 26px;
    color: var(--cyan);
    background: var(--bg);
    width: 30%;
    text-align: center;
    transform: translateX(-50%);
    margin-left: 600px;

}

.clock {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--purple);
  font-size: 80px;
  z-index: 1;
}

/* Add smooth transitions */
.shortcut,
button {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Hover Effect */
.shortcut:hover,
button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}

/* Focus Effect (for keyboard navigation) */
.shortcut:focus,
button:focus {
  outline: 2px solid #00aaff;
  box-shadow: 0px 0px 8px rgba(0, 170, 255, 0.7);
}

/* Click Effect */
.shortcut:active,
button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.2);
}

.shortcuts {
  display: flex;
  justify-content: center;
  padding: 100px;
  margin-top: 100px;
  gap: 30px;
  font-size: 17px;
  z-index: 1;
}

.shortcut {
  text-align: center;
  color: white;
  gap: 30px;
  z-index: 2;
}

.shortcut img {
  width: 60px;
  height: 60px;
  gap: 30px;
  z-index: 2;
}

.feedButton {
    z-index: 6
}
.shortcuts-row {
  display: flex;
  justify-content: center;
  padding: 50px; /* Adjust spacing as needed */
  margin-left: -50px;
  gap: 30px;
  font-size: 17px;
  z-index: 1;
}

.reader-container {
  display: flex,
  justify-content: bottom;
  paddig: 100px;
  margin-left: 20px;
  font-size: 18px;
  z-index=20;
  padding-bottom: 50px;
}

.reader-container h2 {
	font-size: 22px;
	color: var(--pink);
	z-index: 30;
}

.rssFeed {
  position: absolute;
  top: 0;
  right: 0;
  width: 550px;
  height: 95%;
  background: var(--bg);
  padding: 15px;
  overflow-y: auto;
  color: var(--fg);
  z-index: 3;
}

.rssFeed p {
  color: var(--fg);
  font-size: 20px;
  z-index: 3;
}

.rssFeed h2:first-child {
  color: var(--pink);
  font-size: 25px;
  z-index: 3;
}

.rssFeed h2 {
  font-size: 0px;
  display: None;
  z-index: 3;
}

.rssFeed h3 {
  color: var(--cyan);
  font-size: 25px;
  z-index: 3;
}

.rssFeed h4 {
  color: var(--green);
  z-index: 3;
}

.rssFeed h5 {
  color: var(--yellow);
  z-index: 3;
}

.topbar {
  position: absolute;
  top: 10px;
  left: 1%;
  gap: 30px;
  opacity: 0.7;
  z-index: 2;
}

.topbar img {
  width: 40px;
  height: 40px;
  gap: 30px;
  padding: 10px;
  z-index: 3;
}

.topbar button {
  background-color: var(--comment);
  border: var(--comment);
  background: var(--comment);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 4;
}

.rightbar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--cyan);
  z-index: 4;
}

.rightbar img {
  width: 50px;
  height: 50px;
  z-index: 4;
}

.rightbar button {
    z-index: 6;
}

.slider-value {
  position: absolute;
  margin-top: 1px;
  right: 70px;
  color: var(--yellow);
  z-index: 2;
}

input {
  appearance: none;
  display: inline-block;
  margin-top: 5px;
  background: var(--comment);
  color: var(--yellow);
}

input[type="range"] {
  writing-mode: vertical-lr;
  display: inline-block;
  color: var(--green);
  flex-direction: column;
  width: 10px;
  height: 80px;
  cursor: pointer;
  outline: none;
  opacity: 1;
  border-radius: 1px;
  border-color: var(--yellow);
}

.slider::-moz-range-thumb {
  width: 13px;
  display: inline;
  z-index: 5;
  height: 13px;
  border-radius: 20%;
  border-color: var(--green);
  background-color: var(--pink);
  cursor: pointer;
}


.hidden {
    display: none;
}

